.cache-warmer__info {
  .server-load-history {
    .server-load-general-info {
      font-size: 12px;
      position: absolute;
      left: 2rem;
      top: 0.5rem;
    }

    width: 98%;
    float: right;
    padding-left: 1rem;
    height: 75px;
    position: relative;

    svg {
      border-right: 1px solid #e3e3e3;
      border-left: 1px solid #e3e3e3;
      height: 75px;
      width: 100%;
    }

    .label {
      position: absolute;
      font-size: 10px;
      color: #adadad;

      &.from {
        color: #8a837f;
        left: 1.5rem;
        bottom: 0;
      }

      &.to {
        color: #8a837f;
        right: 0.5rem;
        bottom: 0;
      }

      &.min {
        left: -2.5rem;
        width: 3rem;
        text-align: right;
        bottom: 0;
      }

      &.max {
        left: -2.5rem;
        top: 0;
        width: 3rem;
        text-align: right;
      }
    }
  }
}