<?xml version="1.0"?>
<!--
  ~ @author   Zemi <cskh.zemifashion@gmail.com>
  ~ @copyright Copyright (c) 2021 Zemi <cskh.zemifashion@gmail.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Zemi_FacebookChat" setup_version="1.0.0"/>
</config>
