<?xml version="1.0"?>
<!--
  ~  @author   Rosalynshop <info@rosalynshop.com>
  ~  @copyright Copyright (c) 2019 Rosalynshop <https://rosalynshop.com>. All rights reserved.
  ~  @license   Open Software License ("OSL") v. 3.0
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Model\Order\Item" type="RosalynShop\SalesEmail\Model\Order\Item" />
    <preference for="Magento\Sales\Block\Order\Email\Items\DefaultItems" type="RosalynShop\SalesEmail\Block\Order\Email\Items\DefaultItems" />
    <preference for="Magento\Sales\Block\Order\Email\Shipment\Items" type="RosalynShop\SalesEmail\Block\Order\Email\Shipment\Items" />
</config>
