@enable_custom_style:1;
@enable_rtl:0;
@main_color:#ff4747;
@main2_color:#0f2e2b;
@main3_color:#102e2b;
@enablegooglefont:1;
@google_font_1:Quicksand;
@google_font_weights_1:~"300,regular,500,600,700";
@google_font_subsets_1:~"latin,latin-ext,vietnamese";
@enablefont2:1;
@google_font_2:Quicksand;
@google_font_weights_2:~"300,regular,500,600,700";
@google_font_subsets_2:~"latin,latin-ext,vietnamese";
@enablefont3:1;
@google_font_3:Quicksand;
@google_font_weights_3:~"300,regular,500,600,700";
@google_font_subsets_3:~"latin,latin-ext,vietnamese";
@font_default:Quicksand;
@font_size:14;
@font_h:Quicksand;
@font_special:Quicksand;
@font_text:Quicksand;
@page_background:#ffffff;
@page_background_pattern:0;
@page_background_image_option:~"0 0 no-repeat fixed";
@page_background_image_size:cover;
@page_text:#102e2b;
@page_link:#270fb3;
@page_background_file:0;
@header_background:#ffffff;
@header_background_pattern:0;
@header_background_image_option:~"0 0 no-repeat fixed";
@header_background_image_size:cover;
@header_text:#102e2b;
@header_link:#102e2b;
@headertop_background:#f1f1f1;
@headertop_text_color:#102e2b;
@headertop_link_color:#102e2b;
@headertop_border_color:transparent;
@header_background_file:0;
@menu_background:#ff4747;
@menu_link_color:#102e2b;
@menu_link_hover_color:#102e2b;
@footer_background:#ffffff;
@footer_background_pattern:0;
@footer_background_image_option:~"0 0 no-repeat fixed";
@footer_background_image_size:cover;
@footer_text:#102e2b;
@footer_link:#102e2b;
@footer_background_file:0;
