<?xml version="1.0" encoding="UTF-8"?>
<!--
 /************************************************************
 * *
 *  * Copyright © Boolfly. All rights reserved.
 *  * See COPYING.txt for license details.
 *  *
 *  * @author    info@boolfly.com
 * *  @project   Core
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		 <tab id="boolfly" translate="label" sortOrder="100">
            <label><![CDATA[Boolfly]]></label>
        </tab>
	</system>
</config>
