<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Pgrid
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="am_date_config" type="Amasty\Pgrid\Model\Config\Date"/>
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
        <plugin name="Amasty_Pgrid::ProductDataProvider" type="Amasty\Pgrid\Plugin\Catalog\Ui\DataProvider\Product\ProductDataProvider"/>

        <arguments>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="amasty_categories" xsi:type="object">Amasty\Pgrid\Ui\DataProvider\Product\AddCategoryFilterToCollection</item>
                <item name="amasty_qty_sold" xsi:type="object">Amasty\Pgrid\Ui\DataProvider\Product\AddQtySoldFilterToCollection</item>
                <item name="amasty_availability" xsi:type="object">Amasty\Pgrid\Ui\DataProvider\Product\AddAvailabilityFilterToCollection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Ui\Config\Reader">
        <plugin name="Amasty_Pgrid::addColumns" type="Amasty\Pgrid\Plugin\Ui\Model\Reader"/>
    </type>
    <type name="Magento\Ui\Model\Manager">
        <plugin name="Amasty_Pgrid" type="Amasty\Pgrid\Plugin\Ui\Model\Manager" />
    </type>
</config>
