<?xml version="1.0"?>
<!--
  ~ @author   Zemi <cskh.zemifashion@gmail.com>
  ~ @copyright Copyright (c) 2021 Zemi <cskh.zemifashion@gmail.com>. All rights reserved.
  ~ @license   Open Software License ("OSL") v. 3.0
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\UrlRewrite\Model\Storage\DbStorage" type="Zemi\RebuildUrl\Model\Storage\DbStorage" />
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="rebuildUrl" xsi:type="object">Zemi\RebuildUrl\Console\Command\RebuildUrl</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product\Url">
        <plugin name="conver_product_name_to_vietnam" type="Zemi\RebuildUrl\Plugin\Product\Url"/>
    </type>
    <type name="Magento\Catalog\Model\Category">
        <plugin name="conver_category_name_to_vietnam" type="Zemi\RebuildUrl\Plugin\Category\Url"/>
    </type>
</config>
